# PYTHON CHALLENGE: PyBank

Goal:
Create a Python script for analyzing company financial records.
 
Dataset:
Company financial data stored in a csv called budget_data.csv.
The dataset includes two columns: 'Date' and 'Profit/Losses' 

Calculate:
1. The total number of months included in the dataset
2. The total net amount of "Profit/Losses" over the entire period
3. The average change in "Profit/Losses" between months over the entire period
4. The greatest increase in profits (date and amount) over the entire period
5. The greatest decrease in losses (date and amount) over the entire period

Deliverables:
* Print the analysis to the terminal
* Export a text file with the results

Documentation:
* **csv_path** = csv file path for data set (update this path if the name and/or location of the data set changes)

* **budget_analysis** = text file path for final analysis deliverable (update this path according to the desired name and location of the new text file deliverable) ** *NOTE: rename output_file ... output_path.... etc?* **

* **total_months** = the total number of months included in the dataset

* **net_profit** = the total net amount of "Profit/Losses" over the entire period

* **average_change** = the average change in "Profit/Losses" between months over the entire period

* **<greatest_increase>** = the greatest increase in profits (date and amount) over the entire period

* **<greatest_decrease>** = the greatest decrease in losses (date) over the entire period

* **budget_summary** = summary of results to be printed to the terminal and exported in a text file

# TA Q's (working list):
**DELETE SECTION BEFORE SUBMISSION**
* sort by month chronologically? to ensure accuracy of monthly_change
* change monthly to dates in variable names?

**TIPS & SHORTCUTS:
* add # to mult lines >> cmd + /

# Setup

In [1]:
# Import the necessary dependencies for os.path.join()
import os
import csv

# Set csv path for data file and store in a variable
csv_path = os.path.join('data','budget_data.csv')

# Set txt path for output file and store in a variable
output_file = os.path.join('deliverables','budget_analysis.txt')

# Exploration

#### MARKOUT OR DELETE THIS SECTION FOR FINAL VERSION

In [2]:
#Open and read the csv file
with open(csv_path, newline = '') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter = ',')
    
    # skip header
    next(csv_reader)
    
    # view contents
    for rows in csv_reader:
        print(rows)

['Jan-2010', '867884']
['Feb-2010', '984655']
['Mar-2010', '322013']
['Apr-2010', '-69417']
['May-2010', '310503']
['Jun-2010', '522857']
['Jul-2010', '1033096']
['Aug-2010', '604885']
['Sep-2010', '-216386']
['Oct-2010', '477532']
['Nov-2010', '893810']
['Dec-2010', '-80353']
['Jan-2011', '779806']
['Feb-2011', '-335203']
['Mar-2011', '697845']
['Apr-2011', '793163']
['May-2011', '485070']
['Jun-2011', '584122']
['Jul-2011', '62729']
['Aug-2011', '668179']
['Sep-2011', '899906']
['Oct-2011', '834719']
['Nov-2011', '132003']
['Dec-2011', '309978']
['Jan-2012', '-755566']
['Feb-2012', '1170593']
['Mar-2012', '252788']
['Apr-2012', '1151518']
['May-2012', '817256']
['Jun-2012', '570757']
['Jul-2012', '506702']
['Aug-2012', '-1022534']
['Sep-2012', '475062']
['Oct-2012', '779976']
['Nov-2012', '144175']
['Dec-2012', '542494']
['Jan-2013', '359333']
['Feb-2013', '321469']
['Mar-2013', '67780']
['Apr-2013', '471435']
['May-2013', '565603']
['Jun-2013', '872480']
['Jul-2013', '789480']
['Aug-2013', '999942']
['Sep-2013', '-1196225']
['Oct-2013', '268997']
['Nov-2013', '-687986']
['Dec-2013', '1150461']
['Jan-2014', '682458']
['Feb-2014', '617856']
['Mar-2014', '824098']
['Apr-2014', '581943']
['May-2014', '132864']
['Jun-2014', '448062']
['Jul-2014', '689161']
['Aug-2014', '800701']
['Sep-2014', '1166643']
['Oct-2014', '947333']
['Nov-2014', '578668']
['Dec-2014', '988505']
['Jan-2015', '1139715']
['Feb-2015', '1029471']
['Mar-2015', '687533']
['Apr-2015', '-524626']
['May-2015', '158620']
['Jun-2015', '87795']
['Jul-2015', '423389']
['Aug-2015', '840723']
['Sep-2015', '568529']
['Oct-2015', '332067']
['Nov-2015', '989499']
['Dec-2015', '778237']
['Jan-2016', '650000']
['Feb-2016', '-1100387']
['Mar-2016', '-174946']
['Apr-2016', '757143']
['May-2016', '445709']
['Jun-2016', '712961']
['Jul-2016', '-1163797']
['Aug-2016', '569899']
['Sep-2016', '768450']
['Oct-2016', '102685']
['Nov-2016', '795914']
['Dec-2016', '60988']
['Jan-2017', '138230']
['Feb-2017', '671099']

# Analysis

In [3]:
# Create empty lists
dates = []
profit_loss = []
 
# Open and read the csv file
with open(csv_path, newline='') as csv_file:

     # Store contents in a variable called csv_reader
    csv_reader = csv.reader(csv_file, delimiter=',') 

    # Skip header
    next(csv_reader)  

    # Iterate through the rows
    for row in csv_reader: 

        # Append
        dates.append(row[0])
        profit_loss.append(int(row[1]))

# 1. The total number of months included in the dataset.

In [4]:
# view contents of dates list
# for rows in dates:
#     print(rows)

# calculate total number of months
total_months = len(dates)        

# TEST PRINT HERE
print(f'Total Months: {total_months}')

Total Months: 86

# 2. The total net amount of "Profit/Losses" over the entire period

In [5]:
# view contents of profit_loss list
# for rows in profit_loss:
#     print(rows)

# Calculate net amount of profits and losses over the entire period
net_profit = sum(profit_loss)

# TEST PRINT HERE
print(f'Total: ${net_profit}')

Total: $38382578

In [6]:
# 3. The average change in "Profit/Losses" between months over the entire period
# YOUR CODE HERE
# average_change = -2315.12

for i, date in enumerate(dates):
    change = profit_loss[i+1] - profit_loss[i]
    print('{} {}'.format(change, date))

# TEST PRINT HERE
print(f'Average Change: ${average_change}')

116771 Jan-2010
-662642 Feb-2010
-391430 Mar-2010
379920 Apr-2010
212354 May-2010
510239 Jun-2010
-428211 Jul-2010
-821271 Aug-2010
693918 Sep-2010
416278 Oct-2010
-974163 Nov-2010
860159 Dec-2010
-1115009 Jan-2011
1033048 Feb-2011
95318 Mar-2011
-308093 Apr-2011
99052 May-2011
-521393 Jun-2011
605450 Jul-2011
231727 Aug-2011
-65187 Sep-2011
-702716 Oct-2011
177975 Nov-2011
-1065544 Dec-2011
1926159 Jan-2012
-917805 Feb-2012
898730 Mar-2012
-334262 Apr-2012
-246499 May-2012
-64055 Jun-2012
-1529236 Jul-2012
1497596 Aug-2012
304914 Sep-2012
-635801 Oct-2012
398319 Nov-2012
-183161 Dec-2012
-37864 Jan-2013
-253689 Feb-2013
403655 Mar-2013
94168 Apr-2013
306877 May-2013
-83000 Jun-2013
210462 Jul-2013
-2196167 Aug-2013
1465222 Sep-2013
-956983 Oct-2013
1838447 Nov-2013
-468003 Dec-2013
-64602 Jan-2014
206242 Feb-2014
-242155 Mar-2014
-449079 Apr-2014
315198 May-2014
241099 Jun-2014
111540 Jul-2014
365942 Aug-2014
-219310 Sep-2014
-368665 Oct-2014
409837 Nov-2014
151210 Dec-2014
-110244 Jan-2015
-341938 Feb-2015
-1212159 Mar-2015
683246 Apr-2015
-70825 May-2015
335594 Jun-2015
417334 Jul-2015
-272194 Aug-2015
-236462 Sep-2015
657432 Oct-2015
-211262 Nov-2015
-128237 Dec-2015
-1750387 Jan-2016
925441 Feb-2016
932089 Mar-2016
-311434 Apr-2016
267252 May-2016
-1876758 Jun-2016
1733696 Jul-2016
198551 Aug-2016
-665765 Sep-2016
693229 Oct-2016
-734926 Nov-2016
77242 Dec-2016
532869 Jan-2017

IndexError: list index out of range

In [ ]:
# 4. The greatest increase in profits (date and amount) over the entire period
# YOUR CODE HERE
#greatest_increase_date = 'Feb-2012'
#greatest_increase_amount = 1926159

max_change = max(monthly_change)
max_index = monthly_change.index(max_revenue_change)
max_date = dates(max_index)

# TEST PRINT HERE
print(f'Greatest Increase in Profits: {greatest_increase_date} (${greatest_increase_amount})')

In [ ]:
# 5. The greatest decrease in losses (date and amount) over the entire period
# YOUR CODE HERE
#greatest_decrease_date = 'Sep-2013'
#greatest_decrease_amount = -2196167

min_revenue_change = min(monthly_change)
min_index = monthly_change.idex(min_revenue_change)
min_date = dates(min_index)


# TEST PRINT HERE
print(f'Greatest Decrease in Profits: {greatest_decrease_date} (${greatest_decrease_amount})')

In [ ]:
# Summarize the results and store in a variable called budget_summary
# YOUR CODE HERE
# use \n\ for new lines
# use an f-string to accept all data types without conversion

# budget_summary =
#         'Financial Analysis'\n\
#         '----------------------------'\n\
#         # OR ('-'*28)
#         'Total Months: '86\n\
#         'Total: $'38382578\n\
#         'Average  Change: $'-2315.12\n\
#         'Greatest Increase in Profits: 'Feb-2012' ($'1926159')'\n\
#         'Greatest Decrease in Profits: 'Sep-2013' ($'-2196167')'

# __________
#STARTER CODE w/ DR:
#86, etc. = placeholders for test...
# total_months = 86
# total_revenue = 38382578
# avg_change = 2315.12
# max_profit_date = Feb-2012
# min_profit_date = Sep-2013
# max_profit_amount = 1926159
# min_profit_amount = -2196167

budget_summary = (
    f'Total Months: {total_months}\n\
    Total: ${total_revenue}\n\
    Average Change: {avg_change}')

# TEST PRINT HERE
print(budget_summary)

# Presentation

In [ ]:
# Print the analysis to the terminal
# YOUR CODE HERE
print(budget_summary)

In [ ]:
# Export the analysis in a text file
# YOUR CODE HERE
with open(budget_analysis,'w') as txt_file:
    txt_file.write(budget_summary)